@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';

body {
  background-color: #131313;
  font-family:
    'Inter', sans-serif; /* 
  background-image: url('/assets/bg.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Optional: keeps background fixed during scroll for a "parallax" effect */
  background-attachment: fixed;
}

button {
  cursor: pointer;
}

/* Custom Scrollbar Styling (WebKit only) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
  height: 6px; /* height of the horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #222; /* color of the track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d00000; /* color of the scroll thumb */
  border-radius: 10px;
  opacity: 0.5; /* make the thumb semi-transparent */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  opacity: 0.9; /* color of the scroll thumb on hover */
}

.courier-prime-regular {
  font-family: 'Courier Prime', monospace !important;
  font-weight: 400;
  font-style: normal !important;
}

.courier-prime-700 {
  font-family: 'Courier Prime', monospace !important;
  font-weight: 700;
  font-style: normal !important;
}

img.loaded {
  filter: blur(0);
}
